*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #314755 0%, #26A0DA 100%);
    min-height: 100vh;

}
.contenedor{
    background: linear-gradient(90deg, #314755 0%, #26A0DA 100%);
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
}
